* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(./woman.jpeg);
  background-size: cover;
  color: white;
  /* padding-left: 150px;
  padding-right: 150px; */
  /* padding: 0 150px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

header {
  height: 15vh;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body div {
  width: 95vw;
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: column;
}

.body h1 {
  font-size: 40px;
  font-weight: 900;
}

.body p {
  margin: 10px 0px;
}

.body button {
  width: 150px;
  height: 40px;
  background-color: orangered;
  /* border: none; */
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.about {
  height: 60vh;
  background-color: orangered;
}

.features {
  height: 30vh;
  /* border-bottom: 1px solid white; */
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.overflowDiv {
  border-bottom: 1px solid white;
  width: 95vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflow {
  /* width: 95vw; */
  height: 30vh;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  color: white;
  /* border: 1px solid red; */
}

.cat div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: orangered;
  font-size: 22px;
  font-weight: bold;
}

.cat b {
  margin: 10px 0px;
}

.footer {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;
  color: white;
}

/* tablet view */

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .body div {
    align-items: center;
    text-align: center;
  }

  .cat {
    width: 80vw;
    text-align: center;
  }

  .overflowDiv {
    display: block;
    overflow-y: scroll;
    height: 30vh;
  }

  .overflow {
    padding: 20px 0px;
    height: fit fit-content;
    width: 90vw;
    flex-direction: column;
  }

  .footer {
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
}
